<!DOCTYPE html PUBLIC
  "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-CN">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>密码已重置</title>
</head>
<body style="margin: 0; padding: 0;">
  <div style="padding: 20px;">
    <img src="https://decentfox.com/freeauth-logo.png" alt="logo" width="98" height="24" style="display: block;" />
    <div style="margin-top: 25px;">
        感谢使用 FreeAuth。您的密码已重置：
    </div>
    <div style="margin-top: 20px;">
        用户名：{{ username or email }}<br>
        新密码：{{ password }}
    </div>
  </div>
</body>
</html>
